<div class="container">
  <h1 style="padding-top: 10px; padding-bottom: 10px;">Create Account</h1>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="col-sm-6">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username", class:"form-control" %>
  </div>
  <div class="col-sm-6">
    <%= f.label :full_name %><br />
    <%= f.text_field :full_name, autofocus: true, autocomplete: "full_name", class:"form-control" %>
  </div>

  <div class="col-sm-6">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
  </div>

  <div class="col-sm-6">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
  </div>

  <div class="col-sm-6">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
  </div>

  <br />

  <div class="form-buttons">
    <%= f.submit("Create User") %>
  </div>
  <% end %>
  <br />
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <%= render "devise/shared/links" %>
    </div>
  </div>