<div class="container">
  <h2 style="padding-top: 12px; padding-bottom: 12px;">

    <h5 style="color:#000080"><%= @user.full_name.upcase %> LIST OF EVENTS</h5>
    <br />
    <h6>No. OF ACTIVE EVENTS : <%= @user.events.active_event.count %></h6>
    <h6>No. OF PAST EVENTS &nbsp &nbsp : <%= @user.events.past_event.count %></h6>


    <div class="row">

      <div class="col-lg-3">
        <% @event.each do |event| %>
          <p> <%= link_to event.name.upcase, user_event_path(@user, event) %></p>
        <% end %>
      </div>

      

        <br><br>
   <div class="w-100">
      <div id="events">
        <%= month_calendar events: @event do |date, events| %>
        <%= date %>

          <% events.each do |event| %>
            <div>
              <%= event.name %>
            </div>
          <% end %>
        <% end %>
      </div>
   </div>