<body id="event_index">
  <div class="container">

    <div class="row">
      <div class="col-lg-3">
        <p> <%= link_to "TODAYS EVENT", todays_events_path %></p>
      </div>
      <div class="col-lg-3">
        <p><%= link_to "PAST EVENTS", past_events_events_path %></p>
      </div>
      <div class="col-lg-3">
        <p><%= link_to "ALL EVENTS", all_events_events_path %></p>
      </div>
      <div class="col-lg-3">
        <p><%= link_to "TOP EVENTS", top_events_events_path %></p>
      </div>
    </div>

    <div class="links">

      <br><br>


      <h3 class="display-2" align="center" style="padding-top: 10Ppx; color:black;  padding-bottom: 10px;"> All Upcoming
        Events</h3>
      <br />
                                       
      <br />

      

    <div class="row">

      <% @events.each do |event| %>

      <div class="col-sm" style="padding-bottom: 10px;">
        <div class="card" style="width: 18rem;">
          <div class="card-body">

            <h5 class="card-title">
              <%=event.name.upcase %>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <%= start_of_event event %>
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">
              <%= end_of_event  event %>
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">LOCATION:
              <%= event.location.upcase %>
            </h6>
            <p class="card-text">
              <%= event.description.truncate(25, separator: /\s/) %>
            </p>
            <a href="<%= user_event_path(@user, event) %>" class="card-link">Event Details</a>

          </div>
        </div>
      </div>

      <br />
      <br />

      <% end %>

      <br />
      
  </div>
  </div>
</body>