<body id="event_index">
  <%= render 'top_link' %>

      <br><br>


      <h2  align="center" style="padding-top: 10Ppx; color:black;  padding-bottom: 10px;"> ALL UPCOMING EVENTS</h2>
        <br />
        
      
      <div class="filter">
        <%= form_tag '#', :method => :get do%>
        <%= collection_select :category, :id, Category.all, :id, :name, placeholder: "FILTER BY CATEGORY" %>
        <%= submit_tag 'Filter' %>
        <% end %>
      </div>
    </div>

    <div class="row">

      <% @events.each do |event| %>

      <div class="col-sm" style="padding-bottom: 10px;">
        <div class="card" style="width: 18rem;">
          <div class="card-body">

            <h5 class="card-title">
              <%=event.name.upcase %>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <%= start_of_event event %>
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">
              <%= end_of_event  event %>
            </h6>
            <h6 class="card-subtitle mb-2 text-muted">LOCATION:
              <%= event.location.upcase %>
            </h6>
            <p class="card-text">
              <%= event.description.truncate(25, separator: /\s/) %>
            </p>
            <a href="<%= event_path(event) %>" class="card-link">Event Details</a>

          </div>
        </div>
      </div>

      <br />
      <br />

      <% end %>

      <br />
      <div class="w-100"></div>
        <div id="events">
          <%= month_calendar events: @events do |date, events| %>
            <%= date %>
            <% events.each do |event| %>
              <%= event.name %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>