<div class="container">
  <h2 style=" padding-top: 12px; color:#483D8B; padding-bottom: 12px;">

    <%= @event.name.upcase %>
  </h2>
  <br />
  <h4 style="color:#000080">CATEGORY:
    <%= @event.category.name %>
  </h4>
     <h5>No. OF PARTICIPANTS : <%= @event.participants.count %></h5>
  <h4>
    <%= start_of_event(@event) %>
  </h4>
  <h4>
    <%= end_of_event(@event) %>
  </h4>
  <h4>LOCATION:
    <%= @event.location.upcase %>
  </h4>
  <br />
  
    <h5 style="color: #000033">DESCRIPTION:
      <%= @event.description.upcase %>
    </h5>
  <h5>EVENT PARTICIPANTS:</h5>
  <% @rsvp_events.each do |rsvp| %>
 <h6 style="color:#2F4F4F">
  
   
   <ul>
    <li> NAME:
      <%= rsvp.participant.full_name.upcase %>
      &ensp; EMAIL:
      <%= rsvp.participant.email.upcase %>
    </li>
     
  </ul>
 </h6>
<% end %>
  <br />
  <a class="btn btn-outline-primary btn-lg btn-block" href="<%=user_events_url %>">All Upcoming Events</a>
  <br />
  
  
 
  <% if @event.planner_id != current_user.id %>
  <div class="rsvp">
    <%= button_to "Rsvp now", rsvp_events_create_event_path(event_id: @event.id), class: "btn btn-outline-success btn-lg btn-block" %>
    <<a class="btn btn-outline-warning btn-lg btn-block" href="<%= new_event_review_path(@event) %>">Review
      Rsvp</a>
  </div>
  <br />
  <a class="btn btn-outline-warning btn-lg btn-block" href="<%= rsvp_events_delete_path(id: @event.id) %>">Cancel Rsvp</a>
  <br />
  <% end %>
  <% if @event.planner_id == @user.id %>
  <a class="btn btn-outline-info btn-lg btn-block" href="<%= edit_user_event_path(@event) %>">Edit Event</a>
  <br />
  <a class="btn btn-outline-success btn-lg btn-block" href="/users/<%= @user.id %>">Your Events</a>
  <br />
  <a class="btn btn-outline-warning btn-lg btn-block" href="<%= events_delete_path(id: @event.id) %>">Delete Event</a>
  <% end %>
</div>