<div class="container">
  <h2 style="padding-top: 12px; padding-bottom: 12px;">

    <%= @event.name %>
  </h2>
  <br />
  <h4>Category:
    <%= @event.category.name %>
  </h4>

  <h4>
    <%= start_of_event(@event) %>
  </h4>
  <h4>
    <%= end_of_event(@event) %>
  </h4>
  <h4>Location:
    <%= @event.location %>
  </h4>
  <br />
  
    <h5>Description:
      <%= @event.description %>
    </h5>
  
  <% @rsvp_events.each do |rsvp| %>

  <ul>
    Event Participants:
    <li> Name:
      <%= rsvp.participant.name %>
      &ensp; Email:
      <%= rsvp.participant.email %>
    </li>
    
  </ul>

  <% end %>
  <br />
  <a class="btn btn-outline-primary btn-lg btn-block" href="<%=user_events_url %>">All Upcoming Events</a>
  <br />
  <% if @event.planner_id == @user.id %>
  <a class="btn btn-outline-info btn-lg btn-block" href="<%= edit_user_event_path(@event) %>">Edit Event</a>
  <br />
  <a class="btn btn-outline-info btn-lg btn-block" href="/users/<%= @user.id %>">Your Events</a>
  <br />

  <a class="btn btn-outline-info btn-lg btn-block" href="<%= events_delete_path(id: @event.id) %>">Delete Event</a>
  <% end %>
  <br />
  <br />
  <% if @event.planner_id != current_user.id %>
  <div class="rsvp">
    <%= button_to "Rsvp now", rsvp_events_create_event_path(event_id: @event.id), class: "btn btn-primary" %>
  </div>
  <a class="btn btn-primary" href="<%= rsvp_events_delete_path(id: @event.id) %>">Cancel Rsvp</a>
  <br />
  <% end %>
</div>