<div class="container">
  <h2 style=" padding-top: 12px; color:#483D8B; padding-bottom: 12px;">

    <%= @event.name.upcase %>
  </h2>
  <br />
  <h4 style="color:#000080">EVENT PLANNER:
    <%= @event.planner.full_name.upcase %>
  </h4>
  <br />
  <h4 style="color:#000080">CATEGORY:
    <%= @event.category.name %>
  </h4>
  <h5>No. OF PARTICIPANTS : <%= @event.participants.count %></h5>
  <h4>
    <%= start_of_event(@event) %>
  </h4>
  <h4>
    <%= end_of_event(@event) %>
  </h4>
  <h4>LOCATION:
    <%= @event.location.upcase %>
  </h4>
  <br />

  <h5 style="color: #000033">DESCRIPTION:
    <%= @event.description.upcase %>
  </h5>
  <h5>EVENT PARTICIPANTS:</h5>
  <% @rsvp_events.each do |rsvp| %>
  <h6 style="color:#2F4F4F">


    <ul>
      <li> NAME:
        <%= rsvp.participant.full_name.upcase %>
        &ensp; EMAIL:
        <%= rsvp.participant.email.upcase %>
      </li>

    </ul>
  </h6>
  <% end %>

  <h5><%=@event.name.upcase %> REVIEWS:</h5>
  <% @reviews.each do |review| %>
  <h6 style="color:#2F4F4F">


    <ul>
      <li>
        RATING :
        <%= review.rating %>&ensp;

        REVIEW :
        <%= review.body.upcase %>
      </li>

    </ul>
  </h6>
  <% end %>
  <br />
  <a class="btn btn-outline-primary btn-lg btn-block" href="<%=events_url %>">ALL UPCOMING EVENTS</a>
  <br />

  <% if @event.planner_id != current_user.id  %>
  <div class="rsvp">
    <%= button_to "RSVP NOW", rsvp_events_create_event_path(event_id: @event.id), class: "btn btn-outline-success btn-lg btn-block" %>
      <br>
      <% @rsvp_events.each do |rsvp| %>

        <% if rsvp.participant_id = current_user.id %>
          <a class="btn btn-outline-warning btn-lg btn-block" href="<%= rsvp_events_delete_path(id: @event.id) %>">CANCEL
            RSVP</a>
          <a class="btn btn-outline-info btn-lg btn-block" href="<%= new_event_review_path(@event) %>">REVIEW
            EVENT</a>
            <% @reviews.each do |review| %>


            <br />
            <% if review.reviewer_id = current_user.id %>
            <a class="btn btn-outline-info btn-lg btn-block" href="<%= edit_event_review_path(@event) %>">EDIT REVIEW</a>
            <br />

            <br />
            <a class="btn btn-outline-warning btn-lg btn-block" href="<%= delete_review_path(id: @event.id) %>">DELETE
              REVIEW</a>
            <br />
            <br />

            <br />
          </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <% if @event.planner_id == @user.id %>
  <a class="btn btn-outline-info btn-lg btn-block" href="<%= edit_event_path(@event) %>">EDIT EVENT</a>
  <br />
  <a class="btn btn-outline-success btn-lg btn-block" href="/users/<%= @user.id %>">YOUR EVENTS</a>
  <br />
  <a class="btn btn-outline-warning btn-lg btn-block" href="<%= events_delete_path(id: @event.id) %>">DELETE EVENT</a>


</div>

<br />
<% end %>
<br />

<br />

<br />