<%= render '/events/top_link' %>

<br><br>


<h2 align="center" style="padding-top: 10Ppx; color:black;  padding-bottom: 10px;"> ALL REVIEWS FOR <%=@event.name.upcase%> EVENTS</h2>
<br />


<% @reviews.each do |review| %>
<h6 style="color:#2F4F4F">


  <ul>
    <li>
      REVIEWER :
      <%= link_to review.reviewer.full_name.upcase, user_path(review.reviewer.id) %>&ensp;

      RATING :
      <%= review.rating %>&ensp;

      REVIEW :
      <%= review.body.upcase %>
    </li>

  </ul>
</h6>
<% end %>